<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="1flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this blog", edit_blog_path(@blog),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this blog", blog_path(@blog), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          text-white 1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to blogs", blogs_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New tag", new_blog_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
    <br />
    <h3 class="flex text-4xl block
    font-medium mt-1 mb-3">
      <a href="/blogs/<%= @blog.id %>",
      class="nav-link"><%= @blog.name %></a>
    </h3>
    <div>
      <% @blog.novines.each do |a| %>
      <div class="row mt-4 clearfix">
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
        <strong class="block font-medium mb-1">
          <a href="/novines/<%= a.id %>",
          class="nav-link"><%= a.title %></a>
        </strong>
        <%= truncate(strip_tags(a.body.to_s), length:120) %>
        </div>
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
          <br />
        <% if a.image.attached? %>
          <%= link_to image_tag(a.image,
          style:"width:14em; heigh:auto; nav-link; nav-right;"),
          a.image %>
        <% end %>
        </div>
      </div>
      <br />
      <% end %>
    </div>
    <br />
    <div>
    </div>
    <div class="1flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this blog", edit_blog_path(@blog),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this blog", blog_path(@blog), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          text-white 1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to blogs", blogs_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New blog", new_blog_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
  </div>
</div>
