<div id="<%= dom_id novine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= novine.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= novine.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Publish:</strong>
    <%= novine.publish %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= novine.body %>
  </p>
</div>
