<%= link_to 'Posts', posts_path,
class: "text-orange-500 1nav-link" %>
<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<ul class="1nav-link 1dropdown-menu">
  <% if user_signed_in? %>
  <li class="1nav-link 1dropdown-item">
    <%= link_to "Hi, #{current_user.email}",
     edit_user_registration_path, class:'nav-link' %>
   </li>
   <li class="1nav-link 1dropdown-item">
    <%= button_to(
      "Log Out",
      destroy_user_session_path,
      method: :delete
    ) %>
  <% else %>
  <li>
    <%= link_to "Sign In",
     new_user_session_path, class:'nav-link' %>
  </li>
  <li>
    <%= link_to "Sign Up",
     new_user_registration_path, class:'nav-link' %>
  </li>
  <% end %>
</ul>


<iframe name="__tcfapiLocator" title="TCF Locator" style="display: none;">
</iframe>
<iframe allow="clipboard-write; downloads; forms;" src="https://soundcloud.com/n/pages/standby?crossfade=true" class="webiIframe sc-hidden" title="SoundCloud">
</iframe>

<div class="uploadTarget modal modalWhiteout g-z-index-modal-background sc-font g-opacity-transition" style="display: none;"><div class="uploadTarget__frame">
  <div class="uploadTarget__title">Drop your files here</div>
</div>
</div>
<iframe height="0" width="0" style="display: none; visibility: hidden;">
</iframe>
<iframe height="0" width="0" src="https://5352434.fls.doubleclick.net/activityi;src=5352434;type=sound004;cat=sound0;ord=6236140467063;gdpr=1;gdpr_consent=CP9hKrAP9hKrAAcABBENAxEsAP_gAEPgAAYgKHtV_H__bW9r8X73aft0eY1P9_j77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIEu3bBIQNlHJDUTVigaogVryDMakWcgTNKJ6BkiFMRO2dYCF5vmwtj-QKY5vp993dx2D-t_dv83dzyz4VHn3a5_2e0WJCdA58tDfv9bROb-9IPd_58v4v0_F_rE2_eT1l_tevp7D8-ct87_XW-9_fff79Ll9goaAWYaFRAH2RISEGgYRQIAVBWEBFAgAAABIGiAgBMGBTsDAJdYSIAQAoABggBAACjIAEAAAkACEQASAFAgAAgECgABAAAEAgAYGAAMAFgIBAACA6BCmBBAoFgAkZkRCmBCFAkEBLZUIJAECCuEIRZ4EEAiJgoAAASACsAAQFgsDiSQErEggS4g2gAAIAEAghAqEUnZgCCBM2WqvFE2jK0gLR84AAA.f_wACHwAAAAA;npa=0;auiddc=1075897449.1729320390;gdid=dYWJhMj;ps=1;pcor=1777093364;uaa=arm;uab=64;uafvl=Chromium%3B130.0.6723.117%7CGoogle%2520Chrome%3B130.0.6723.117%7CNot%253FA_Brand%3B99.0.0.0;uamb=0;uam=;uap=macOS;uapv=15.1.0;uaw=0;pscdl=noapi;frm=0;gtm=45fe4bc0v9189937173z89174385308za201zb9174385308;gcs=G111;gcd=13v3v3v3v5l1;dma_cps=syphamo;dma=1;tcfd=10s4a;tag_exp=101925629~102067554~102067808~102077855;epver=2;~oref=https%3A%2F%2Fsoundcloud.com%2Fdiscover?" style="display: none; visibility: hidden;">
</iframe>
<iframe allow="join-ad-interest-group" data-tagging-id="DC-5352434/sound004/sound0+standard" data-load-time="1731812250533" height="0" width="0" src="https://td.doubleclick.net/td/fls/rul/activityi;fledge=1;src=5352434;type=sound004;cat=sound0;ord=6236140467063;gdpr=1;gdpr_consent=CP9hKrAP9hKrAAcABBENAxEsAP_gAEPgAAYgKHtV_H__bW9r8X73aft0eY1P9_j77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIEu3bBIQNlHJDUTVigaogVryDMakWcgTNKJ6BkiFMRO2dYCF5vmwtj-QKY5vp993dx2D-t_dv83dzyz4VHn3a5_2e0WJCdA58tDfv9bROb-9IPd_58v4v0_F_rE2_eT1l_tevp7D8-ct87_XW-9_fff79Ll9goaAWYaFRAH2RISEGgYRQIAVBWEBFAgAAABIGiAgBMGBTsDAJdYSIAQAoABggBAACjIAEAAAkACEQASAFAgAAgECgABAAAEAgAYGAAMAFgIBAACA6BCmBBAoFgAkZkRCmBCFAkEBLZUIJAECCuEIRZ4EEAiJgoAAASACsAAQFgsDiSQErEggS4g2gAAIAEAghAqEUnZgCCBM2WqvFE2jK0gLR84AAA.f_wACHwAAAAA;npa=0;auiddc=1075897449.1729320390;gdid=dYWJhMj;ps=1;pcor=1777093364;uaa=arm;uab=64;uafvl=Chromium%3B130.0.6723.117%7CGoogle%2520Chrome%3B130.0.6723.117%7CNot%253FA_Brand%3B99.0.0.0;uamb=0;uam=;uap=macOS;uapv=15.1.0;uaw=0;pscdl=noapi;frm=0;gtm=45fe4bc0v9189937173z89174385308za201zb9174385308;gcs=G111;gcd=13v3v3v3v5l1;dma_cps=syphamo;dma=1;tcfd=10s4a;tag_exp=101925629~102067554~102067808~102077855;epver=2;~oref=https%3A%2F%2Fsoundcloud.com%2Fdiscover?" style="display: none; visibility: hidden;">
</iframe>
<iframe allow="join-ad-interest-group" data-tagging-id="G-HXKL0JJB2D" data-load-time="1731812250689" height="0" width="0" src="https://td.doubleclick.net/td/ga/rul?tid=G-HXKL0JJB2D&amp;gacid=694155628.1729320391&amp;gtm=45je4bc0v9177198986z89174385308za200zb9174385308&amp;dma=1&amp;dma_cps=syphamo&amp;gcs=G111&amp;gcd=13v3v3v3v5l1&amp;npa=0&amp;pscdl=noapi&amp;aip=1&amp;fledge=1&amp;frm=0&amp;tag_exp=101925629~102067555~102067808~102077855&amp;z=560637767" style="display: none; visibility: hidden;"></iframe>
<iframe src="https://www.google.com/recaptcha/api2/aframe" width="0" height="0" style="display: none;"></iframe>
<iframe name="goog_topics_frame" src="https://securepubads.g.doubleclick.net/static/topics/topics_frame.html"
style="display: none;">
</iframe>

<div><div id="div-gpt-ad-interstitial" data-google-query-id="COfIgLCv4okDFfbeEQgdxUYsJA"><div id="google_ads_iframe_/115535218/soundcloud/webi_interstitial_0__container__" style="border: 0pt none;">
</div></div></div>

<div class="playControls g-z-index-control-bar m-visible"><section role="contentinfo" aria-label="miniplayer" class="playControls__inner">
  <div class="playControls__wrapper l-container l-fullwidth">
    <div class="playControls__queue">
      <div class="queue"><div class="queue__panel sc-p-2x sc-pb-1x">
  <div class="queue__title sc-font-light sc-type-medium sc-text-h2 sc-px-2x sc-py-1x">Next up</div>
  <button type="button" class="queue__clear sc-button sc-button-medium sc-text-h4 sc-px-1.5x sc-py-0.75x sc-mr-1x">Clear</button>
    <button type="button" class="queue__hide sc-button sc-button-nostyle sc-ir">Hide queue</button>
</div>
<div class="queue__scrollable g-scrollable g-scrollable-v" style=" overflow: hidden !important;">
  <div class="queue__scrollableInner g-scrollable-inner" style="height: 0px; overflow-x: hidden; width: 480px; padding-right: 30px;">
    <div class="queue__itemsHeight sc-px-2x" style="background-size: 100% 2016px, auto;">
      <div class="queue__itemsContainer"></div>
    </div>
  </div>
</div>
<div class="queue__dragCover"></div>
</div>
    </div>
    <div class="playControls__bg"></div>
    <div class="playControls__elements">
      <button class="skipControl sc-ir playControls__control playControls__prev skipControl__previous">Skip to previous</button>
      <button type="button" class="playControl sc-ir playControls__control playControls__play" tabindex="" title="Play current" aria-label="Play current">Play current</button>
      <button class="skipControl sc-ir playControls__control playControls__next skipControl__next" tabindex="">Skip to next</button>

      <div class="playControls__shuffle playControls__control">
      <button title="Shuffle" class="shuffleControl sc-ir">Shuffle</button>
      </div>

      <div class="playControls__repeat playControls__control">
        <button title="Repeat" class="repeatControl sc-ir m-none">Repeat track</button>
      </div>

      <div class="playControls__timeline sc-ml-3x">
        <div class="playbackTimeline is-scrubbable has-sound"><div class="playbackTimeline__timePassed sc-text-primary sc-text-h5"><span class="sc-visuallyhidden">Current time: 3 seconds</span><span aria-hidden="true">0:03</span></div>
<div class="playbackTimeline__progressWrapper sc-mx-1x" role="progressbar" aria-valuemax="299" aria-valuenow="3" aria-valuetext="3 seconds">
  <div class="playbackTimeline__progressBackground"></div>
  <div class="playbackTimeline__progressBar" style="min-width: 1px; width: 0.797223%;"></div>
  <div class="playbackTimeline__progressHandle sc-ir" style="left: 0.797223%;"></div>
</div>
<div class="playbackTimeline__duration sc-text-primary sc-text-h5"><span class="sc-visuallyhidden">Duration: 4 minutes 59 seconds</span><span aria-hidden="true">4:59</span></div>
</div>
      </div>

      <div class="playControls__castControl">
      <google-cast-launcher id="castbutton" style="display: none;"></google-cast-launcher>
      </div>


        <div class="playControls__volume">
          <div class="volume" data-level="10"><div class="sc-visuallyhidden">Volume</div>
<div class="volume__iconWrapper">
  <button type="button" class="volume__button volume__speakerIcon sc-ir">
    Toggle mute
  </button>
</div>

<div class="sc-hidden" id="volume__sliderDescription">Use shift and the arrow up and down keys to change the volume.</div>
<div class="volume__sliderWrapper" role="slider" aria-valuemin="0" aria-valuemax="1" aria-label="Volume" aria-valuenow="1">
  <div class="volume__sliderBackground"></div>
  <div class="volume__sliderProgress" style="height: 92px;"></div>
  <div class="volume__sliderHandle" style="top: 10px;"></div>
</div>
</div>
        </div>

      <div class="playControls__soundBadge sc-ml-3x">
        <div class="playbackSoundBadge paused">  <a href="/slikaiprilika/golicanje-1" class="playbackSoundBadge__avatar sc-media-image sc-mr-2x" tabindex="-1">
    <div class="image image__lightOutline sc-artwork sc-artwork-placeholder-5 m-loaded" style="height: 30px; width: 30px;">
<span style="background-image: url(&quot;https://i1.sndcdn.com/artworks-000174170410-e1izv2-t120x120.jpg&quot;); width: 30px; height: 30px; opacity: 1;" class="sc-artwork sc-artwork-4x sc-artwork-placeholder-5  image__full g-opacity-transition" aria-label="Golicanje" aria-role="img"></span>
</div>
  </a>
  <div class="playbackSoundBadge__titleContextContainer sc-mr-3x">
    <a href="/slikaiprilika" class="playbackSoundBadge__lightLink sc-link-light sc-link-secondary sc-truncate sc-text-h5" title="Slika/Prilika">Slika/Prilika</a>

    <div class="playbackSoundBadge__title">
      <a href="/slikaiprilika/golicanje-1" class="playbackSoundBadge__titleLink sc-truncate sc-text-h5 sc-link-primary" title="Golicanje">
        <span class="sc-visuallyhidden">Current track: Golicanje</span><span aria-hidden="true">Golicanje</span>
      </a>
    </div>
  </div>
  <div class="playbackSoundBadge__actions">
      <button type="button" class="sc-button-like playbackSoundBadge__like sc-button-secondary sc-mr-1x sc-button sc-button-small sc-button-icon sc-button-responsive sc-button-selected" aria-describedby="tooltip-215" tabindex="0" title="Unlike" aria-label="Unlike">Liked</button>
      <button type="button" class="sc-button-follow playbackSoundBadge__follow sc-mr-1x sc-button sc-button-small sc-button-icon sc-button-responsive sc-button-secondary m-boldIcon sc-button-selected" tabindex="0" title="Unfollow" aria-label="Unfollow">Following</button>
    <a class="playbackSoundBadge__showQueue" title="Next up" aria-role="button">
      <svg width="24" height="24">
        <path fill="#333" class="playbackSoundBadge__queueIcon" d="M6 11h12v2H6zM6 7h8v2H6zM6 15h12v2H6zM16 3v6l4-3z"></path>
      </svg>
      <div class="playbackSoundBadge__queueCircle"></div>
    </a>
  </div>
</div>
      </div>
    </div>
    <div class="playControls__panel">
      <div class="playControlsPanel sc-font-body sc-background-darkgrey"></div>
    </div>
  </div>
</section>
</div>
